@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.hero {
  width: 30%;
  height: auto;
}

.container{
  margin: 0 auto;
  margin: 0 0 0 30%;
}

.well{
border-color: #CA2D6050;
border-width: 4px;
}

body{
  background-color: #262833;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.date{
  color:black;
}


a{
  color: #CA2D60;
}

a:hover{
  color: #FD4F52;
}
/* #CA2D60
#FD4F52 */

.commentor{
  color: #CA2D60;
  font-size: 20px;
}

.comment{
  font-size: 20px;
}

.commentsbox{
  text-align: right;
}

.articlebody{
  background-color: white;
  width: auto;
display: block;
color: black;
padding: 10%;
}