.hero {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.panel {
    background-color: #faf8f8b7;
    border-radius: 12px;
}

body {
    background-color: rgba(115, 216, 241, 0.459);
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgba(137, 183, 235, 0.7);
}

form a {
    color: lightslategray;
}

a#back {
    color: rgba(35, 102, 190, 0.993);
    padding-bottom: 3rem;
}

.well {
    border-radius: 12px;
}

h1,
h2.about,
h4.first {
    font-family: 'Bad Script', cursive;
}

h4.first {
    padding-left: 2rem;
}

h1.main-title {
    margin: 3rem 0 0 2rem;
}

hr.main-title {
    border-top: 1px solid black;
}

.btn-primary {
    background-color: rgba(34, 137, 206, 0.459);
    border: none;
}

h4.article {
    margin: 1rem;
    margin-bottom: 3rem;
}

h4.commentSection,
h4.modal-title {
    font-family: 'Bad Script', cursive;
}

.panel p.commenter {
    color: rgba(42, 91, 155, 0.993);
}