<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-xs-12">
        <center><img class="hero" src="https://i.imgur.com/iV2depJ.png"></center>
        <p>BlogPulse is an up-and-coming player in the global media market,
        providing user-generated content across all topics.</p>
      </div>
    </div>
    <h1>Latest Posts from BlogPulse</h1>

    <% articles.forEach(function(a) { %>
      <div class="well">
        <h2>
          <a href="/articles/<%= a.id %>"><%= a.title %></a>
          <small>by <%= a.author.getFullName() %></small>
        </h2>

          <span class="date"><%= moment(a.createdAt).calendar() %></strong></span>

      </div>
    <% }) %>

  </div>

</div>
